#top-left {
    position: absolute;
    top: 10px;
    left: 1800px;
    border: 5px solid rgb(37, 36, 36);
    padding: 60px 48px;
}

#big-one {
    position: absolute;
    top: 0px;
    left: 1902px;
    border: 5px solid rgb(37, 36, 36);
    padding: 124.5px 130px 135.5px;
    background-color: rgb(237, 50, 50);
}

#center-left {
    position: absolute;
    top: -8px;
    left: 1367px;
    border: 5px solid rgb(37, 36, 36);
    padding: 95px 20px 53px;
}

#bottom-left {
    position: absolute;
    top: 0px;
    left: 1367px;
    border: 5px solid rgb(37, 36, 36);
    padding: 80px 20px 20px;
    background-color: rgb(59, 183, 232);
}

#center-bottom {
    position: absolute;
    top: -113px;
    left: 1220px;
    border: 5px solid rgb(37, 36, 36);
    padding: 99px 1px 5px;
}

#right-bottom1 {
    position: absolute;
    top: -122px;
    left: 1100px;
    border: 5px solid rgb(37, 36, 36);
    padding: 47px 1px 0px;
}

#right-bottom2 {
    position: absolute;
    top: -1px;
    left: 1100px;
    border: 5px solid rgb(37, 36, 36);
    padding: 47px 1px 0px;
    background-color: yellow;
}