#main-div{
    height: 400px;
    width: 409px;
}

#top-row {
    height: 290px;
}

#big-red {
    border: 5px solid black;
    width: 290px;
    height: 289.5px;
    background-color: red;
    
}

.right{
    float: right;
}

#left1{
    border: 5px solid black;
    width: 100px;
    height: 120px;
}

#left2{
    border: 5px solid black;
    width: 100px;
    height: 160px;
}

#bottom-right-column {
    height: 100px;
    width: 24px;
}


#white-box-right {
    border: 5px solid black;
    width: 15px;
    height: 45px;
}

#yellow-box {
    border: 5px solid black;
    width: 15px;
    height: 45px;
    background-color: yellow;
}

#bottom-middle-box {
    border: 5px solid black;
    height: 100px;
    width: 266px;
}

#bottom-left-box {
    border: 5px solid black;
    width: 99.5px;
    height: 100px;
    background-color: blue;
}