.container {
    display: grid;
    border: 1px solid black;
    width: 525px;
    height: 481px;
    grid-template-columns: repeat(17, 35px);
    grid-template-rows: repeat(17, 30px);

}

.box {
    border: 5px solid black;
    font-size: small;
}

.top-left{
    grid-column: 1/5;
    grid-row: 1/3;
    border-top: none;
    border-left: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.top-center {
    grid-column: 5/11;
    grid-row: 1/3;
    border-top: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.yellow-top{
    grid-column: 11/15;
    grid-row: 1/3;
    background-color: yellow;
    border-top: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.far-right{
    grid-column: 15/15;
    grid-row: 1/13;
    border-top: none;
    border-right: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.far-right2 {
    grid-column: 15/15;
    grid-row: 13/17;
    background-color: red;
    border-right: none;
    border-bottom: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.left2{
    grid-column: 1/3;
    grid-row: 3/8;
    border-left: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);

}

.left3 {
    grid-column: 1/3;
    grid-row: 8/13;
    border-left: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);

}

.left-yellow{
    grid-column: 1/3;
    grid-row: 13/17;
    background-color: yellow;
    border-left: none;
    border-bottom: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.big-red{
    grid-column: 3/11;
    grid-row: 3/11;
    background-color: red;
}

.right-yellow {
    grid-column: 11/15;
    grid-row: 3/7;
    background-color: yellow;
}

.bellow-yellow1{
    grid-column: 11/13;
    grid-row: 7/11;
}
.bellow-yellow2 {
    grid-column: 13/15;
    grid-row: 7/11;
}

.brown {
    grid-column: 3/7;
    grid-row: 11/15;
    background-color: rgb(17, 5, 5);
}

.bellow-brown {
    grid-column: 3/7;
    grid-row: 15/17;
    border-bottom: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}
.bellow-red1 {
    grid-column: 7/11;
    grid-row: 11/13;
}

.bellow-red2 {
    grid-column: 7/11;
    grid-row: 13/15;
}

.brown2 {
    grid-column: 7/11;
    grid-row: 15/16;
    background-color: rgb(17, 5, 5);
}
.bottom {
    grid-column: 7/15;
    grid-row: 16/17;
    border-bottom: none;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.above-blue{
    grid-column: 11/15;
    grid-row: 11/13;
}

.blue {
    grid-column: 11/15;
    grid-row: 13/16;
    background-color: blue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}